recursive-include unilabos/registry *.yaml
recursive-include unilabos/app/web/static *
recursive-include unilabos/app/web/templates *
recursive-include unilabos/device_mesh/devices *
recursive-include unilabos/device_mesh/resources *
