<?xml version="1.0" encoding="utf-8"?>
<!-- 
  WSDL Template for Mettler Toledo XPR/XSR Balance
  
  IMPORTANT: This is a template file. You need to obtain the actual WSDL file 
  from Mettler Toledo for your specific balance model.
  
  To use this driver:
  1. Contact Mettler Toledo support to obtain the official WSDL file
  2. Replace this template with the actual WSDL file
  3. Rename it to: MT.Laboratory.Balance.XprXsr.V03.wsdl
  
  The WSDL file contains proprietary information and cannot be distributed
  with this open-source project.
-->
<wsdl:definitions xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" 
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing" 
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
                  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" 
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" 
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" 
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                  xmlns:tns="http://MT/Laboratory/Balance/XprXsr/V03" 
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" 
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
                  targetNamespace="http://MT/Laboratory/Balance/XprXsr/V03" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  
  <!-- 
    PLACEHOLDER CONTENT
    
    This template contains only the basic structure.
    The actual WSDL file should contain:
    - Service definitions
    - Port types
    - Message definitions
    - Binding information
    - Endpoint addresses with template variables: {{host}}, {{port}}, {{api_path}}
  -->
  
  <wsdl:types>
    <!-- Schema definitions will be here in the actual WSDL -->
  </wsdl:types>
  
  <!-- Service definitions will be here in the actual WSDL -->
  
</wsdl:definitions>